@import "bootstrap-sprockets";
@import "bootstrap";

/* mixins, variables, etc. */

$gray-medium-light: #eaeaea;

@mixin box_sizing {
  -moz-box-sizing:    border-box;
  -webkit-box-sizing: border-box;
  box-sizing:         border-box;

}

/* color */
body {
  --main-background: #fff;
  --default-font: #111;
  --default-hover: blue;
  --stats-color: gray;
  --jumbotron: #eeeeee;
  --footer-font: #9f9f9f;
  --footer-hover: #6c6c6c;

  --pagination-back: #fff;
  --pagination-font: #fff;
  --pagination-border: #ddd;
  --pagination-hover-text: #1a6f68;
  --pagination-hover-back: #25a399;
}

body.dark-mode {
    --main-background: #222;
    --default-font: #fafafa;
    --default-hover: blue;
    --stats-color: #ccc;
    --jumbotron: #333;
    --footer-font: #565656;
    --footer-hover: #6c6c6c;

    --pagination-back: #333;
    --pagination-font: #eee;
    --pagination-border: #444;
    --pagination-hover-text: #30dacc;
    --pagination-hover-back: #30dacc;
}


/* universal */

body {
  padding-top: 60px;
  background-color: var(--main-background);
}

section {
  overflow: auto;
}

textarea {
  resize: vertical;
}

.center {
  text-align: center;
  background-color: var(--jumbotron);
  h1 {
    margin-bottom: 10px;
    color: var(--default-font);
  }
}

/* typography */

h1, h2, h3, h4, h5, h6 {
  line-height: 1;
}

h1, h3, h4, h5, h6 {
  color: var(--default-font);
}

h1 {
  font-size: 3em;
  letter-spacing: -2px;
  margin-bottom: 30px;
  text-align: center;

}

h2 {
  font-size: 1.2em;
  letter-spacing: -1px;
  margin-bottom: 30px;
  text-align: center;
  font-weight: normal;
  color: $gray-light;
}

p {
  font-size: 1.1em;
  line-height: 1.7em;
  color: var(--default-font);
}

a {
  color: #29b9ad;
}

c {
  color: var(--stats-color);
  font-size: 12px;
}


/* header */

#logo_icon {
  float: left;
  padding-top: 9px;
}

#logo {
  float: left;
  margin-right: 10px;
  font-size: 1.7em;
  color: white;
  text-transform: uppercase;
  letter-spacing: -1px;
  padding-top: 9px;
  padding-left: 9px;
  font-weight: bold;
  &:hover {
    color: white;
    text-decoration: none;
  }
}


 /* === ボタンを表示するエリア ============================== */
 .dark_modeArea {
  float          : right;                /* 右寄せ           */
  width          : 30px;                /* ボタンの横幅       */
  margin-top     : 11px;
  
}
 
 /* === チェックボックス ==================================== */
.dark_modeArea input[type="checkbox"] {
  display        : none;            /* チェックボックス非表示 */
}
 
 /* === チェックボックスのラベル（標準） ==================== */
.dark_modeArea label {
  display        : block;               /* ボックス要素に変更 */
  box-sizing     : border-box;          /* 枠線を含んだサイズ */
  text-align     : center;              /* 文字位置は中央     */
  border         : 1px solid #fff;      /* 枠線(一旦四方向)   */
  border-radius  : 3px;                 /* 角丸               */
  height         : 30px;                /* ボタンの高さ       */
  font-size      : 9px;                /* 文字サイズ         */
  line-height    : 30px;                /* 太字               */
  font-weight    : bold;                /* 太字               */
  background     : #fff;                /* 背景色             */
  box-shadow     : none;    /* 影付け             */
  transition     : .3s;                 /* ゆっくり変化       */
}
 
 /* === ON側のチェックボックスのラベル（ONのとき） ========== */
.dark_modeArea label span:after{
  content        : "☀";               /* 表示する文字       */
  color          : #111;
}
.dark_modeArea #dark_modecheck:checked + label {
  background     : #111;             /* 背景色             */
  box-shadow     : none;                /* 影を消す           */
}
.dark_modeArea #dark_modecheck:checked + label span:after {
  content        : "☽";                /* 表示する文字       */
  color          : #fff;                /* 文字色             */
}


/* footer */

footer {
  margin-top: 45px;
  padding-top: 5px;
  border-top: 1px solid $gray-medium-light;
  color: $gray-light;
  a {
    color: var(--footer-font);
    &:hover {
      color: var(--footer-hover);
    }
  }
  small {
    float: left;
  }
  ul {
    float: right;
    list-style: none;
    li {
      float: left;
      margin-left: 15px;
    }
  }
}

@media (max-width: 800px) {
  footer {
    small {
      display: block;
      float: none;
      margin-bottom: 1em;
    }
    ul {
      float: none;
      padding: 0;
      li {
        float: none;
        margin-left: 0;
      }
    }
  }
}

/* miscellaneous */

.debug_dump {
  clear: both;
  float: left;
  width: 100%;
  margin-top: 45px;
}

/* sidebar */

aside {
  section.user_info {
    margin-top: 20px;
  }
  section {
    padding: 10px 0;
    margin-top: 20px;
    &:first-child {
      border: 0;
      padding-top: 0;
    }
    span {
      display: block;
      margin-bottom: 3px;
      line-height: 1;
    }
    h1 {
      font-size: 1.4em;
      text-align: left;
      letter-spacing: -1px;
      margin-bottom: 3px;
      margin-top: 0px;
    }
  }
}

.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  color: var(--default-font);
  a {
    float: left;
    padding: 0 10px;
    border-left: 1px solid $gray-lighter;
    color: var(--stats-color);
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: #29b9ad;
    }
  }
  c{
    color: var(--stats-color);
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

/* forms */

input, textarea, select, .uneditable-input {
  border: 1px solid #bbb;
  width: 100%;
  margin-bottom: 15px;
  @include box_sizing;
}

input {
  height: auto !important;
  color: var(--default-font);
  background-color: var(--main-background);
}

#error_explanation {
  color: red;
  ul {
    color: red;
    margin: 0 0 30px 0;
  }
}



.field_with_errors {
  @extend .has-error;
  .form-control {
    color: $state-danger-text;
  }
}

.checkbox {
  margin-top: -10px;
  margin-bottom: 10px;
  span {
    margin-left: 20px;
    font-weight: normal;
  }
}

input[type="checkbox"], input[type="radio"] {
  accent-color: #29b9ad;
}


#session_remember_me {
  width: auto;
  margin-left: 0;
}

/* Dropdown menu */

.dropdown-menu.active {
  display: block;
  background-color: var(--main-background);

  a{
    color: var(--default-font);
  }}

/* Users index */

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid $gray-lighter;
  }
}

/* microposts */

.microposts {
  list-style: none;
  padding: 0;
  li {
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
  }
  .user {
    margin-top: 5em;
    padding-top: 0;
  }
  .content {
    display: block;
    margin-left: 60px;
    color: var(--default-font);
    img {
      display: block;
      padding: 5px 0;
    }
  }
  .timestamp {
    color: $gray-light;
    display: block;
    margin-left: 60px;
  }
  .gravatar {
    float: left;
    margin-right: 10px;
    margin-top: 5px;
  }
}

aside {
  textarea {
    height: 100px;
    margin-bottom: 5px;
  }
}


span.image {
  margin-top: 10px;
}

.custom-file-button {
  display: inline-block;
  padding: 8px 16px;
  background-color: #61c6b5; /* ボタンの背景色 */
  color: white; /* 文字色 */
  border-radius: 5px; /* 角丸 */
  cursor: pointer;
  font-size: 12px;
  transition: background-color 0.3s ease;
}

.custom-file-button:hover {
  background-color: #3aa492; /* ホバー時の色 */
}

.custom-file-button:active {
  background-color: #7bffe9; /* アクティブ時の色 */
}


aside.col-md-4{
  h1 {
    color: #111;
  }
  a {
    color: gray;
  }
  .place {
    color: #111;
  }
  background-color: #EEEEEE;
}

aside.col-md-6{
  color: var(--default-font);
  c{
    color:var(--default-font);
  }
}

label{
  color: var(--default-font);
}


/* pagination */
.pagination > li > a {
  color: #29b9ad;
  background-color: var(--main-background);
  border: 1px solid var(--pagination-border);
} 
.pagination > li > a:hover {
  color: var(--pagination-hover-text);
} 

.pagination > .active > a {
  color: var(--pagination-font);
  background-color: #29b9ad;
  border-color: var(--pagination-border);
} 
.pagination > .active > a:hover {
  background-color: var(--pagination-hover-back);
  border-color: var(--pagination-border);
} 

.pagination > .disabled > a {
  background-color: var(--main-background);
  border-color: var(--pagination-border);
}


/* button */
.btn-primary {
  background-color: #29b9ad !important;
  border-color: #29b9ad !important;
}
.btn-primary:hover {
  background-color: var(--pagination-hover-back);
  border-color: var(--pagination-hover-back);
}
.btn-primary:active {
  color: #29b9ad !important;
  background-color: #fafafa !important;
  border-color: #fafafa !important;
}


.u_search {
  margin: auto;
  width: 50%;
  max-width: 400px; /* 必要に応じて最大幅を設定 */
}

@media (max-width: 800px) {
  .u_search {
    width: 100%; /* 画面幅が800px未満のときに全幅に変更 */
  }
}



.form-control {
  color: var(--default-font);
  background-color: var(--main-background);
}


.input-group {
  margin-bottom: 15px;
}

.input-group-addon {
  color: var(--default-font);
  background-color: var(--pagination-back);
}

.username {
  color: #8d8d8d;
  font-size: 13px;
}

select {
  color: var(--default-font);
  background-color: var(--main-background);
}


#image-preview img {
  max-width: 150px;
  max-height: 150px; 
  object-fit: contain; 
  margin: 5px; 
  border: 1px solid #ddd; 
}


#image-preview img {
  margin: 5px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
